.blog__modal {
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 20%;
  /* z-index: 10; */
}
.blogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  position: relative;
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.icon svg {
  font-size: 1.3rem;
  cursor: pointer;
}

.blog {
  width: 200px;
  font-family: "Inter";
  font-style: normal;
  line-height: 21px;
  cursor: pointer;
}
.blog img {
  width: 100%;
  object-fit: contain;
}
.blog h5 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.blog p {
  font-size: 0.8rem;
}
